extends base

block content
    .logout-user
        p.text-main MY ACCOUNT
        .logout-user-wrapper
            ul
                li.login-selected
                    a(href='/account/details/') My Account Details
                li.account-navigation--wishlist
                    a(href='/account/wishlist/') My Wishlist
                li
                    a(href='/account/orders/') My Orders
                li
                    a.link-active(href='/account/address-book/')  Address Book
                li.logout
                    a#logout-clicked.logout-link.link-active(href='') logout
        //- p.text-main ACCOUNT INFORMATION
        p.fine-secondary ADDRESS BOOK
        p.fine-secondary Your address book is currently empty.
        //- button#addNewAddress.btn-black-pay(style='margin: 2rem;')
        //-     a(href='#') ADD NEW ADDRESS 
    .form-address-wrapper.hidden
        form.form-address-two(action='/submit-user-address' method='POST')
            p.close-x X
            hr.hr
            p ENTER ADDRESS MANUALLY
            .form-group.has-success
                label.control-label(for='address-lookup-country') Select Country
                .address-country
                    select#address-lookup-country.form-control(data-prev-value='UK')
                        option#void-prompt-country(value='' selected='selected') Please select a country
                        option(value='UK') United Kingdom
                        option(value='US') United States
                        option(value='CA') Canada
                        option(value='AF') Afghanistan
                        option(value='AL') Albania
                        option(value='DZ') Algeria
                        option(value='AS') American Samoa
                        option(value='AD') Andorra
                        option(value='AO') Angola
                        option(value='AI') Anguilla
                        option(value='AG') Antigua and Barbuda
                        option(value='AR') Argentina
                        option(value='AM') Armenia
                        option(value='AW') Aruba
                        option(value='AU') Australia
                        option(value='AT') Austria
                        option(value='AZ') Azerbaijan
                        option(value='BS') Bahamas
                        option(value='BH') Bahrain
                        option(value='BD') Bangladesh
                        option(value='BB') Barbados
                        option(value='BY') Belarus
                        option(value='BE') Belgium
                        option(value='BZ') Belize
                        option(value='BJ') Benin
                        option(value='BM') Bermuda
                        option(value='BT') Bhutan
                        option(value='BO') Bolivia
                        option(value='BA') Bosnia and Herzegovina
                        option(value='BW') Botswana
                        option(value='IO') British Indian Ocean Territory
                        option(value='VG') British Virgin Islands
                        option(value='BN') Brunei
                        option(value='BG') Bulgaria
                        option(value='BQ') Bonaire
                        option(value='BF') Burkina Faso
                        option(value='BI') Burundi
                        option(value='KH') Cambodia
                        option(value='CM') Cameroon
                        option(value='CV') Cape Verde
                        option(value='KY') Cayman Islands
                        option(value='CF') Central African Republic
                        option(value='TD') Chad
                        option(value='CL') Chile
                        option(value='CN') China
                        option(value='CO') Colombia
                        option(value='KM') Comoros
                        option(value='CG') Congo, Democratic Republic of
                        option(value='CD') Congo, Republic of (Zaire)
                        option(value='CK') Cook Islands
                        option(value='CR') Costa Rica
                        option(value='CI') Cote D&apos;Ivoire
                        option(value='HR') Croatia
                        option(value='CY') Cyprus
                        option(value='CW') Cura&ccedil;ao
                        option(value='CZ') Czech Republic
                        option(value='DK') Denmark
                        option(value='DJ') Djibouti
                        option(value='DM') Dominica
                        option(value='DO') Dominican Republic
                        option(value='EC') Ecuador
                        option(value='EG') Egypt
                        option(value='SV') El Salvador
                        option(value='GQ') Equatorial Guinea
                        option(value='ER') Eritrea
                        option(value='EE') Estonia
                        option(value='ET') Ethiopia
                        option(value='FO') Faroe Islands
                        option(value='FJ') Fiji
                        option(value='FI') Finland
                        option(value='FR') France
                        option(value='GF') French Guyana
                        option(value='PF') French Polynesia
                        option(value='GA') Gabon
                        option(value='GM') Gambia
                        option(value='GE') Georgia
                        option(value='DE') Germany
                        option(value='GH') Ghana
                        option(value='GI') Gibraltar
                        option(value='GR') Greece
                        option(value='GL') Greenland
                        option(value='GD') Grenada
                        option(value='GP') Guadeloupe
                        option(value='GU') Guam
                        option(value='GT') Guatemala
                        option(value='GN') Guinea
                        option(value='GW') Guinea-Bissau
                        option(value='GY') Guyana
                        option(value='HT') Haiti
                        option(value='HN') Honduras
                        option(value='HK') Hong Kong, China
                        option(value='HU') Hungary
                        option(value='IS') Iceland
                        option(value='IN') India
                        option(value='ID') Indonesia
                        option(value='IQ') Iraq
                        option(value='IE') Ireland
                        option(value='IL') Israel
                        option(value='IT') Italy
                        option(value='JM') Jamaica
                        option(value='JP') Japan
                        option(value='JO') Jordan
                        option(value='KZ') Kazakhstan
                        option(value='KE') Kenya
                        option(value='KI') Kiribati
                        option(value='KW') Kuwait
                        option(value='KV') Kosovo
                        option(value='KG') Kyrgyzstan
                        option(value='LA') Laos
                        option(value='LV') Latvia
                        option(value='LB') Lebanon
                        option(value='LS') Lesotho
                        option(value='LR') Liberia
                        option(value='LY') Libya
                        option(value='LI') Liechtenstein
                        option(value='LT') Lithuania
                        option(value='LU') Luxembourg
                        option(value='MO') Macau, China
                        option(value='MK') Macedonia
                        option(value='MG') Madagascar
                        option(value='MW') Malawi
                        option(value='MY') Malaysia
                        option(value='MV') Maldives
                        option(value='ML') Mali
                        option(value='MT') Malta
                        option(value='MH') Marshall Islands
                        option(value='MQ') Martinique
                        option(value='MR') Mauritania
                        option(value='MU') Mauritius
                        option(value='YT') Mayotte
                        option(value='MX') Mexico
                        option(value='MD') Moldova
                        option(value='MC') Monaco
                        option(value='MN') Mongolia
                        option(value='ME') Montenegro
                        option(value='MS') Montserrat
                        option(value='MA') Morocco
                        option(value='MZ') Mozambique
                        option(value='NA') Namibia
                        option(value='NP') Nepal
                        option(value='NL') Netherlands
                        option(value='NC') New Caledonia
                        option(value='NZ') New Zealand
                        option(value='NI') Nicaragua
                        option(value='NE') Niger
                        option(value='NG') Nigeria
                        option(value='NO') Norway
                        option(value='OM') Oman
                        option(value='PK') Pakistan
                        option(value='PW') Palau
                        option(value='PA') Panama
                        option(value='PG') Papua New Guinea
                        option(value='PY') Paraguay
                        option(value='PE') Peru
                        option(value='PH') Philippines
                        option(value='PL') Poland
                        option(value='PT') Portugal
                        option(value='PR') Puerto Rico
                        option(value='QA') Qatar
                        option(value='RE') Reunion
                        option(value='RO') Romania
                        option(value='RU') Russia
                        option(value='RW') Rwanda
                        option(value='WS') Samoa
                        option(value='SM') San Marino
                        option(value='SA') Saudi Arabia
                        option(value='SN') Senegal
                        option(value='RS') Serbia
                        option(value='SC') Seychelles
                        option(value='SL') Sierra Leone
                        option(value='SG') Singapore
                        option(value='SK') Slovakia
                        option(value='SI') Slovenia
                        option(value='SB') Solomon Islands
                        option(value='ZA') South Africa
                        option(value='KR') South Korea
                        option(value='ES') Spain
                        option(value='LK') Sri Lanka
                        option(value='BL') St Barth&eacute;lemy
                        option(value='KN') St. Kitts and Nevis
                        option(value='LC') St. Lucia
                        option(value='XM') St Maarten
                        option(value='VC') St. Vincent and the Grenadines
                        option(value='SD') Sudan
                        option(value='SR') Suriname
                        option(value='SE') Sweden
                        option(value='CH') Switzerland
                        option(value='TW') Taiwan, China
                        option(value='TH') Thailand
                        option(value='TL') Timor-Leste
                        option(value='TT') Trinidad and Tobago
                        option(value='TN') Tunisia
                        option(value='TR') Turkey
                        option(value='TC') Turks and Caicos Islands
                        option(value='TV') Tuvalu
                        option(value='VI') U.S. Virgin Islands
                        option(value='UG') Uganda
                        option(value='UA') Ukraine
                        option(value='AE') United Arab Emirates
                        option(value='UZ') Uzbekistan
                        option(value='VU') Vanuatu
                        option(value='VE') Venezuela
                        option(value='VN') Vietnam
                        option(value='YE') Yemen
                        option(value='ZM') Zambia
                        option(value='ZW') Zimbabwe
            .form-group
                label.control-label(for='address-manual-firstname') First Name
                .form-group
                    input#address-manual-firstname.form-control(type='text' aria-live='polite' value=`${user.name.split(' ')[0]}` name='firstName' data-prev-value='')
            .form-group
                label.control-label.control-black(for='address-manual-lastname') Last Name
                .form-group
                    input#address-manual-firstname1.form-control(type='text' aria-live='polite' value=`${user.name.split(' ')[1]}` name='lastName' data-prev-value='')
            .form-group
                label.control-label.control-black(for='addressline1') Address line 1
                .form-group
                    input#address-manual-firstname2.form-control(type='text' aria-live='polite' name='addressline1'  data-prev-value='')
            .form-group
                label.control-label.control-black(for='addressline2') Address line 2
                .form-group
                    input#address-manual-firstname2.form-control(type='text' aria-live='polite' name='addressline2'  data-prev-value='')
            .form-group
                label.control-label.control-black(for='address-manual-Town') Town
                .form-group
                    input#address-manual-firstname3.form-control(type='text' aria-live='polite' name='town'  data-prev-value='')
            .form-group
                label.control-label.control-black(for='address-manual-Country/Province') Country/Province
                .form-group
                    input#address-manual-firstname4.form-control(type='text' aria-live='polite' name='countryProvince' data-prev-value='')
            .form-group
                label.control-label.control-black(for='address-manual-Postcode') Postcode
                .form-group
                    input#address-manual-firstname5.form-control(type='text' aria-live='polite' name='postcode'  data-prev-value='')
            .form-group
                label.control-label.control-black(for='address-manual-Country') Country
                .form-group
                    input#address-manual-firstname6.form-control(type='text' aria-live='polite' name='country'  data-prev-value='')
            .form-group.form-right
                input.btn-update.button-primary(type='submit' value='Confirm Address' style='width: auto;')
                //- button.btn-black-pay(style='margin: 2rem;')
                //-     a(href='') Confirm Address 
        //- button#newAddressForm.btn-black-pay(style='margin: 2rem;')
        //-     a(href='') ADD NEW ADDRESS 
    .form-toggle-btn
        button#addNewAddress.btn-black-pay.small-btn(style='margin: 2rem;')
            a(href='#') ADD NEW ADDRESS 