extends base

block content
    .foundout
        .foundout-wrap-1
            p.text-main
                | A CONSCIOUS 
                br
                |  COMMITMENT
            p.foundout-text
                | We&rsquo;re starting to make changes. For right now,
                | and going forward. Discover a new uniform of
                | recycled yarns, responsible wools and vegetable-tanned
                | leathers. And learn more about the things we&rsquo;re doing
                | and initiatives we&rsquo;re partnering with to make our
                | products more sustainable.
            a(href='/men')
                img.img-consc-1(src='/img/men-1-1.jpg' alt='')
            p.fine Reduced Water Wastage
            p.foundout-text
                | Much of our collection is produced in factories
                | using innovative water saving and water recycling processes.
                | The specialist machinery and techniques can use up to 89% less
                | water than traditional methods.
        .foundout-wrap-2
            img.img-consc(src='/img/pic-31.jpg' alt='')
            img.img-consc(src='/img/pic-13.jpg' alt='')
        .foundout-wrap-3
            p.fine Better Cotton Initiative
            p.foundout-text
                | We, RUBACCINE, are committed to
                | improving cotton farming practices
                | globally with the Better Cotton Initiative
                | (BCI). Better Cotton is not physically
                | traceable to end products. However,
                | BCI Farmers benefit from the demand
                | for Better Cotton in equivalent volumes
                | to those we &lsquo;source&rsquo;. We RUBACCINE, are
                | committed to sourcing 80% of our cotton
                | as more sustainable cotton by 2022.
                | More sustainable cotton includes
                | Better Cotton, recycled cotton,
                | organic cotton and fair trade cotton.
                | By buying cotton products from RUBACCINE, you&rsquo;re
                | supporting the Better Cotton Initiative/ BCI
                | Farmers who care for the environment and respect workers&rsquo; rights and wellbeing.
            a(href='/women')
                img.img-consc(style='margin-bottom: 6rem;' src='/img/pic-35.jpg' alt='')
            p.fine Responsible Wool Standard
            p.foundout-text
                | The Responsible Wool Standard (RWS) is an industry
                | tool designed to recognise the best practices of farmers,
                | ensuring that wool comes from farms with a progressive
                | approach to managing their land and from sheep that have
                | been treated responsibly. The certified wool comes from
                | non-mulesed sheep and is tracked through all processing
                | stages to promote responsible practices and protect the
                | sheep and the land they graze on.
            // <img src="/img/pngegg.png" alt="" class="small-svg-icon">
        .foundout-wrap-4
            img.img-consc(src='/img/pic-56.jpg' alt='')
            img.img-consc(src='/img/pic-40.jpg' alt='')
        .foundout-wrap-5
            .foundout-wrap-5-item
                p.fine Recycled Polyester
                p.foundout-text
                    | Found across many of our dresses. Polysheer fabric is made
                    | from recycled plastic bottles. Recycled polyester, also known
                    | as rPET, is obtained by melting down existing plastic and
                    | re-spinning it into new polyester fibers.
            .foundout-wrap-5-item
                p.fine Recycled Polyester
                p.foundout-text
                    | Found across many of our dresses. Polysheer fabric is made
                    | from recycled plastic bottles. Recycled polyester, also known
                    | as rPET, is obtained by melting down existing plastic and
                    | re-spinning it into new polyester fibers.
            .foundout-wrap-5-item
                p.fine Recycled Polyester
                p.foundout-text
                    | Found across many of our dresses. Polysheer fabric is made
                    | from recycled plastic bottles. Recycled polyester, also known
                    | as rPET, is obtained by melting down existing plastic and
                    | re-spinning it into new polyester fibers.
            .foundout-wrap-5-item
                p.fine Recycled Polyester
                p.foundout-text
                    | Found across many of our dresses. Polysheer fabric is made
                    | from recycled plastic bottles. Recycled polyester, also known
                    | as rPET, is obtained by melting down existing plastic and
                    | re-spinning it into new polyester fibers.
            .foundout-wrap-6
                ul.nav__list-bottom
                    li.nav__item-bottom.outmore
                        a(href='/')  SHOP WOMENSWEAR
                    li.nav__item-bottom.outmore
                        a(href='/men') SHOP MENSWEAR
