extends base

block content 
    .new-hero
        .section-4a
            .campaign-heading.lockup
                p.campaign-title.campaign-left Hope
                p.campaign-title.campaign-right Springs
                p.campaign-title.campaign-center Infernal
        .section-5
            p.text-main
                | This season, we&rsquo;re celebrating the emergence of spring with
                | our new collection, Hope Springs Infernal.
        .section-6
            .section-6-content
                .player
                    video.video(src='img/production ID_5102955.mp4' autoplay='' loop='' playsinline='')
                    .show-controls
                        .controls-container
                            .progress-range(title='Seek')
                                .progress-bar
                            .control-group
                                .controls-left
                                    .play-controls
                                        i#play-btn.fas.fa-play(title='Play')
                                    .time
                                        span.time-elapsed 00:00 / 
                                        span.time-duration 02:49
                                .controls-right
                                    .volume
                                        .volume-icon
                                            i#volume-icon.fas.fa-volume-up(title='Mute')
                                        .volume-range(title='Change Volume')
                                            .volume-bar
                                    .fullscreen
                                        i.fas.fa-expand
                                    .fullscreen
                                        i.fas.fa-ellipsis-v
        .section-6a
                .slider-spring
                    .slide
                        img(src='img/pic-51.jpg' alt='Photo 1')
                    .slide
                        img(src='img/Desktop - 1.svg' alt='Photo 2')
                    .slide
                        img(src='img/pic-54.jpg' alt='Photo 3')
                    .slide
                        img(src='img/Desktop - 3.svg' alt='Photo 2')
                    .slide
                        img(src='img/pic-71.jpg' alt='Photo 4')
                    button.slider-spring__btn.slider-spring__btn__btn--left
                        svg.icon-slider
                            use(href='img/sprite.svg#icon-keyboard_arrow_left')
                    button.slider-spring__btn.slider-spring__btn__btn--right
                        svg.icon-slider
                            use(href='img/sprite.svg#icon-keyboard_arrow_right')
        .section-5
            p.text-main
                | It&rsquo;s time for nature, space, and some much needed escapism.
                | A celebration of new beginnings.
        .section-7
            .section-7-content
                img.spring-img(src='img/pic-65.jpg' alt='spring-img')
        .section-8
            .section-8-content
                img.spring-img(src='img/pic-66.jpg' alt='spring-img')
        .section-9
            .section-9-content
                img.spring-img(src='img/pic-51.jpg' alt='spring-img')
                img.spring-img(src='img/pic-67.jpg' alt='spring-img')
                img.spring-img(src='img/pic-68.jpg' alt='spring-img')
                img.spring-img(src='img/pic-64.jpg' alt='spring-img')
        .section-5
            p.text-main
                | We&rsquo;re continuing our conscious commitment with
                | regular drops of loungewear, denim and t-shirts. All designed and
                | produced with reduced water waste in mind.
            .section-10
        .section-7
            .section-7-content
                img.spring-img(src='img/pic-74.jpg' alt='spring-img')
        .section-7
            .section-7-content
                img.spring-img(src='img/pic-73.jpg' alt='spring-img')
        .section-8
            .section-8-content
                img.spring-img(src='img/pic-72.jpg' alt='spring-img')
        .section-11
            .section-11-description
                p.text-main
                    | And where better to introduce a collection that highlights
                    | the importance of water,
                    | than the place where water is most scarce - the desert.
            .section-11-btn
                .campaign-btn
                    a.as_cta--button(href='/women')
                        button.button SHOP WOMEN
                    a.as_cta--button(href='/men')
                        button.button SHOP MEN
