extends base

block content 
    .showcase
        .showcase-container
            .showcase-container-title
                p.text-main Women&apos;s All Sale
                p.text-list
                    | Shop our women&apos;s Sale.
                    | Leather jackets. Dresses. Handbags. And more. Free
                    | delivery on all UK orders over &pound;150 &amp; free UK returns.
                .showcase-container-title-category
                    ul.nav__list-preview
                        li.nav__item-preview
                            a.removeUnderline(href='#' style='color: black;') Dresses
                        li.nav__item-preview
                            a.removeUnderline(href='#' style='color: black;') Leather 
                        li.nav__item-preview
                            a.removeUnderline(href='#' style='color: black;') T-shirts &amp; Sweatshirts
                        li.nav__item-preview
                            a.removeUnderline(href='#' style='color: black;') Knitwear
                        li.nav__item-preview
                            a.removeUnderline(href='#' style='color: black;') Accessories
            hr.hr5
            .showcase-container-filter
                .category-page-filter-list
                    .category-page-filter-list-selectors
                        .options-box
                            .option
                                input#clothersSize(type='checkbox')
                                label.text-radio(for='clothersSize') Coats &amp; Jackets
                            .option
                                input.radio(type='checkbox' id='Leather Jackets' name='category')
                                label.text-radio(for='Leather Jackets') Leather Jackets
                            .option
                                input#Clothing.radio(type='checkbox' name='category')
                                label.text-radio(for='Clothing') Clothing
                            .option
                                input#Knitwear.radio(type='checkbox' name='category')
                                label.text-radio(for='Knitwear') Knitwear
                            .option
                                input.radio(type='checkbox' id='Trousers & Leggings' name='category')
                                label.text-radio(for='Trousers & Leggings') Trousers &amp; Leggings
                            .option
                                input#Handbags.radio(type='checkbox' name='category')
                                label.text-radio(for='Handbags') Handbags
                            .option
                                input.radio(type='checkbox' id='Playsuits & Jumpsuits' name='category')
                                label.text-radio(for='Playsuits & Jumpsuits') Playsuits &amp; Jumpsuits
                            .option
                                input.radio(type='checkbox' id='Tops & Shirts' name='category')
                                label.text-radio(for='Tops & Shirts') Tops &amp; Shirts
                        .options-content
                            .option
                                input#Dresses.radio(type='checkbox' name='category')
                                label.text-radio(for='Dresses') Dresses
                            .option
                                input#Shirts.radio(type='checkbox' name='category')
                                label.text-radio(for='Shirts') Shirts
                            .option
                                input#Accessories.radio(type='checkbox' name='category')
                                label.text-radio(for='Accessories') Accessories
                            .option
                                input#Wallets.radio(type='checkbox' name='category')
                                label.text-radio(for='Wallets') Wallets
                            .option
                                input#Cardholders.radio(type='checkbox' name='category')
                                label.text-radio(for='Cardholders') Cardholders
                            .option
                                input.radio(type='checkbox' id='Skirts & Shorts' name='category')
                                label.text-radio(for='Skirts & Shorts') Skirts &amp; Shorts
                    hr.hr5
                    .category-page-filter-list-clear
                        .category-page-filter-list-clear-left
                            span.text-filter CLEAR ALL
                    p.vl2
                        .category-page-filter-list-clear-right
                            span.text-filter CLOSE
                        hr.hr7
                .showcase-container-filter-filters
                    .showcase-container-filter-filters-category
                        .showcase-container-filter-filters-category-item
                            span.text-filter(style='border-bottom: none;') FILTERS:
                        .showcase-container-filter-filters-category-item.invisble
                            .selected-sort
                                span.text-filter category
                        .showcase-container-filter-filters-category-item.invisble
                            .selected-sort
                                span.text-filter Colour
                        .showcase-container-filter-filters-category-item.invisble
                            .selected-sort
                                span.text-filter Size 
                        .showcase-container-filter-filters-category-item.invisble(style='width: 12rem;')
                            .selected-sort
                                span.text-filter Price Range
                    p.vl2
                        .showcase-container-filter-filters-sort
                            .showcase-container-filter-filters-category-item
                                span.text-filter
                                | SORT BY
                hr.hr6
                .showcase-container-filter-pagination
                    .showcase-container-filter-pagination-icons
                        p.text-list VIEW:
                        svg.icon-page.switch-single-page
                            use(href='src/img/sprite.svg#icon-stop2')
                        svg.icon-page.switch-double-page
                            use(href='src/img/sprite.svg#icon-pause2')
                    .showcase-container-filter-pagination-pages
                        button.btn--pag.underline.agination__btn--prev
                            span 1
                        button.btn--pag.pagination__btn--next
                            span 2
                        button.btn--pag.pagination__btn--next
                            span 3
                        button.btn--pag.pagination__btn--next-all
                            span VIEW ALL
            .showcase-container-gallery
            .showcase-container-gallery-grid
                .showcase-container-gallery-grid-item
                    .showcase-container-gallery-grid-item-img
                        .size-slider
                            #one.size-slider-title
                                p.text-bag Quick Add To Bag
                            .size-slider-num
                                p.text-size-uk.active   UK 2
                                p.text-size-uk.active UK 4
                                p.text-size-uk  UK 6 
                                p.text-size-uk UK 8 
                                p.text-size-uk  UK 10
                                p.text-size-uk UK 12
                                p.text-size-uk.active  UK 14
                        .round-display
                            | 70% OFF
                        img.clothing-img(src='img/pic-29.jpg' alt='Clothing')
                    .showcase-container-gallery-grid-item-description
                        .whishlist-icon
                            p.text-with-background 70% OFF - 1 WEEK ONLY
                            svg.icon-page-increase
                                use(href='img/sprite.svg#icon-heart')
                        p.text-descrip  Estella Leather Biker Jacket
                        p.text-descrip1
                            del &pound;380.00
                        span(style='color: red;') &pound;114.00 
                        p.text-thinny.colorDisplay 1 COLOUR
                        p.one-color.hidden
                            span.thinny-square
                                img.clothing-img(src='img/pic-29.jpg' alt='Clothing')
                            span.text-thinny RED
                        button.btn-hidden ADD TO BAG      
            .showcase-container-social
                .showcase-container-social-title
                    p.text-main Wear It Your Way
                .showcase-container-social-grid
                    .sliderer
                        .slidex
                            img(src='img/pic-39.jpg' alt='Photo 1')
                            .slidex-overlay
                            img.insta-icon(src='img/instagram.svg' alt='')
                            p @LUCY_93
                        .slidex
                            .slidex-container
                                .slidex-container-img
                                    img.img(src='img/pic-48.jpg' alt='Photo 3')
                                    .slidex-container-img-overlay
                                        img.insta-icon(src='img/instagram.svg' alt='')
                                        p @BIATRIZ
                                .slidex-container-title
                                    p.text-main(style='letter-spacing: 0px;')
                                        | &#xFF03;Rubaccine
                                    p.text-rub
                                        | Share how you&apos;re styling your @RUBACCINE
                                        | to be featured. Mention @Rubaccine or upload - make your mark.
                                    button.nav__btn.nav__btn--add-recipe
                                        span.signin.hidden-icons-text.sale__tab_3 SHARE YOUR STYLE
                        .slidex
                            img(src='img/pic-41.jpg' alt='Photo 2')
                            .slidex-overlay
                                img.insta-icon(src='img/instagram.svg' alt='')
                                p @JOE_RAMOS
                        .slidex
                            .slidex-container
                                .slidex-container-img(style='flex: 0 0 50%;')
                                    img.img(src='img/pic-18.jpg' alt='Photo 3')
                                    .slidex-container-img-overlay
                                        img.insta-icon(src='img/instagram.svg' alt='')
                                        p @SASAHA
                            .slidex-container-title(style='flex: 0 0 50%;')
                        .slidex
                            img(src='img/pic-32.jpg' alt='Photo 1')
                            .slidex-overlay
                                img.insta-icon(src='img/instagram.svg' alt='')
                                p @MEGAN
                        .slidex
                            .slidex-container
                                .slidex-container-img
                                    img.img(src='img/pic-44.jpg' alt='Photo 3')
                                    .slidex-container-img-overlay
                                        img.insta-icon(src='img/instagram.svg' alt='')
                                        p @JIMMY-XU
                                .slidex-container-title
                        .slidex
                            img(src='img/pic-8.jpg' alt='Photo 2')
                            .slidex-overlay
                                img.insta-icon(src='img/instagram.svg' alt='')
                                p @MCGREGOR
                        .slidex
                            .slidex-container
                                .slidex-container-img(style='flex: 0 0 70%;')
                                    img.img(src='img/pic-23.jpg' alt='Photo 3')
                                    .slidex-container-img-overlay
                                        img.insta-icon(src='img/instagram.svg' alt='')
                                        p @JOHN_BUZZER
                                .slidex-container-title(style='flex: 0 0 30%;')
                    button.slider__btn.slider__btn--left
                        svg.icon-title-slider
                            use(href='src/img/sprite.svg#icon-arrow_back_ios')
                    button.slider__btn.slider__btn--right
                        svg.icon-title-slider
                            use(href='src/img/sprite.svg#icon-arrow_forward_ios')
                .showcase-container-social-btn
                    p.text-main Looking for more?
                    .showcase-container-social-btn-conatiner
                        ul.nav__list-preview
                            li.nav__item-preview
                                a.removeUnderline(href='#' style='color: black;') SHOP SHIRTS
                            li.nav__item-preview
                                a.removeUnderline(href='#' style='color: black;') SHOP GIFT CARDS 
