
extends base

//- block append head
//-     script(src='/js/mapbox.js')

block content
    .new-hero
        .section-4
            .campaign-heading.lockup
                p.campaign-title.campaign-left Hope
                p.campaign-title.campaign-right Springs
                p.campaign-title.campaign-center Infernal
            .campaign-btn
                a.as_cta--button(href=`women/new`)
                    button.button SHOP NEW SEASON
                a.as_cta--button(href=`/collections`)
                    button.button EXPLORE THE CAMPAIGN
        .section-2b
            p.text-main New Now
        .section-2
            .section-2-video
                .video-bg
                    .video-content
                        .player
                            video.video(src='img/production ID_5119285.mp4' autoplay='' loop='' playsinline='')
                                .show-controls
                                    .controls-container
                                        .progress-range(title='Seek')
                                            .progress-bar
                                        .control-group
                                            .controls-left
                                                .play-controls
                                                    i#play-btn.fas.fa-play(title='Play')
                                                .time
                                                    span.time-elapsed 00:00 / 
                                                    span.time-duration 02:49
                                            .controls-right
                                                .volume
                                                    .volume-icon
                                                        i#volume-icon.fas.fa-volume-up(title='Mute')
                                                    .volume-range(title='Change Volume')
                                                        .volume-bar
                                                .fullscreen
                                                    i.fas.fa-expand
                                                .fullscreen
                                                    i.fas.fa-ellipsis-v
            .section-2-description
                a.text-main.text-main-hidden New Now
                ul.nav__list-preview
                    li.nav__item-preview
                        a(href='/women/new' style='color: black')  New Arrivals
                    li.nav__item-preview
                        a(href='#' style='color: black') Leathers
                    li.nav__item-preview
                        a(href='#' style='color: black') Dresses
                    li.nav__item-preview
                        a(href='#' style='color: black') Footwear
                //- a.text-commit(href='/women/new') Latest Arrivals
                //- a.text-commit Leathers
                //- a.text-commit Dresses
                //- a.text-commit Loungewear
                //- a.text-commit Footwear
        .section-3
            .section-3-item.grid-item-1
                .section-3-item-img
                    a(href='/women/new')
                        img.spring-img(src='img/pic-55.jpg' alt='spring-colection')
                .section-3-item-title
                    p.text-main Spring Uniform
                    ul.nav__list
                        li.nav__item
                            a(href='/women/new')
                                button.nav__btn.nav__btn--add-recipe(data-tab='2')
                                    span.signin.sale__tab_3  SHOP NEW ARRIVALS
            .section-3-item.grid-item-2
                .section-3-item-img
                    a(href='/women/new')
                        img.spring-img(src='img/pic-56.jpg' alt='spring-colection')
                .section-3-item-title
                    p.text-main Cropped Or Not
                    ul.nav__list
                        li.nav__item
                            a(href='/women/new')
                                button.nav__btn.nav__btn--add-recipe(data-tab='2')
                                    span.signin.sale__tab_3  SHOP TOPS &amp; SHIRTS
            .section-3-item.grid-item-3
                .section-3-item-img
                    a(href='/women/new')
                        img.spring-img(src='img/pic-57.jpg' alt='spring-colection')
                .section-3-item-title
                    p.text-main Still Essential
                    ul.nav__list
                        li.nav__item
                            a(href='/women/new')
                                button.nav__btn.nav__btn--add-recipe(data-tab='2')
                                    span.signin.sale__tab_3 SHOP DRESSES
